/*
 * checkbox.css
 * Estilos personalizados para el checkbox de tareas.
 * Incluye diseño tipo interruptor y animaciones.
 */
.mycheckbox input:checked~span::after {
    background: var(--checked-knob-color);
    transform: scale(0.85) translate(35px);
}

.mycheckbox input:checked~span .on {
    transform: translate(30px);
    opacity: 1;
}

.mycheckbox input {
    display: none;
}

.mycheckbox span {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: var(--unchecked-bg-color);
    cursor: pointer;
    box-shadow: inset 0px 0px 2px var(--shadow-dark-color);

    position: relative;
}

.mycheckbox span::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    transform: scale(0.85);
    border-radius: 30px;
    background: var(--unchecked-knob-color);
    transition: 0.5s;
    box-shadow: inset 0px 0px 2px var(--shadow-dark-color);
}

.mycheckbox i {
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 1;
    color: var(--icon-color);
    transition: 0.5s;
}

.mycheckbox .on {
    opacity: 0;
    left: 7px;
    top: 7px;
}
